{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/a383cb06fd.js" crossorigin="anonymous" defer></script>
    <title>Landing Page</title>
</head>

<body>
    <div class="bg-cover bg-no-repeat bg-fixed h-screen w-screen flex justify-center items-center"
        style="background-image: url({% static '/images/bg4.jpg' %});">
        <div
            class="bg-slate-400/[0.05] w-4/5 md:w-3/5  h-3/5 rounded-2xl backdrop-blur-md brightness-125 shadow-2xl flex flex-col justify-around items-center">
            <div class="w-4/5 h-1/5 flex flex-col justify-center font-mono text-3xl text-slate-200 font-bold">Donate
                blood, save a
                life.
            </div>
            <div class="w-4/5 h-2/5 flex flex-col">
                <p class="basis-1/5 text-xl font-mono text-slate-200 font-semibold lg:text-2xl">Our Mission:</p>
                <p class="basis-4/5 font-mono font-thin text-slate-200 lg:text-xl md:text-base text-sm">5,000,000 people die each year due to
                    the
                    absence of blood. We would like to change that. Our aim is increase the reach of urgent blood
                    donation requests through proximity based notifications.
                </p>
            </div>
            <div class=" w-4/5 h-1/5 md:h-2/5 mt-3 md:mt-1 flex flex-col justify-evenly">
                <a href="{% url 'users:register' %}">
                    <button
                        class="bg-gradient-to-r w-full from-rose-600 to-amber-700 font-mono font-thin rounded-3xl py-1 md:py-2 px-12
                    text-slate-200 md:text-lg text-base shadow-lg transition duration-300 hover:saturate-[1.25] hover:drop-shadow-lg">
                        SIGN UP
                    </button>
                </a>
                <a href="{% url 'users:login' %}">
                    <button
                        class="bg-gradient-to-r w-full from-red-800 via-red-700 to-red-800 font-mono font-thin rounded-3xl py-1 md:py-2 px-12 text-slate-200 md:text-lg text-base shadow-lg transition duration-200 hover:saturate-[1.25] mt-1 md:mt-0">
                        LOG IN
                    </button>
                </a>
                <div class="text-center text-white font-mono text-sm pt-1 md:text-base">
                    <a href="{% url 'posts:all-posts' %}" class="underline bold">Browse All Posts</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>